# Configuraciones del baúl de obsidian.
.obsidian

# Tareas de los estudiantes.
Entregas/

# Contenido de laboratorios.
Lab 2 - 19-08/Respuesta.md
Lab 9 - 14-10/Torpedo.md
Lab 10 - 21-10/Módulo 10 Resumen.md
Lab 10 - 21-10/Módulo 10 Resumen.pdf
Lab 10 - 21-10/Tarea.md
Lab 10 - 21-10/Tarea.pdf
Lab 16 - 09-12/

# Contenido del plan de estudio.
Calendario.md
Tareas.md